Repository macnev2013/npm-release-gh-actions, pull requests merged in 2022-03, with the labels that each got.

#1 Update index.js
  index.js
Labels: release:patch

#4 Update release.yml
  .github/workflows/release.yml
Labels: release:major

#5 Update index.js
  index.js
Labels: release:patch

#6 Update index.js
  index.js
Labels: release:patch

#8 Update release.yml
  .github/workflows/release.yml
Labels: release:patch

#9 Update release.yml
  .github/workflows/release.yml
Labels: release:patch

#10 Update release.yml
  .github/workflows/release.yml
Labels: release:major

#11 Update index.js
  index.js
Labels: release:minor

#12 Update release.yml
  .github/workflows/release.yml
Labels: release:minor

#13 checking github actions with release
  index.js
Labels: release:patch

#14 updated auth with git
  .github/workflows/release.yml
Labels: release:minor

#15 Update index.js
  index.js
Labels: release:patch

#16 added action for pushing to main repo from from CI on a fork
  .github/workflows/release.yml
Labels: release:minor

#17 Update release.yml
  .github/workflows/release.yml
Labels: release:minor

#19 Update release.yml
  .github/workflows/release.yml
Labels: release:minor

#21 Update release.yml
  .github/workflows/release.yml
Labels: release:minor
